@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     background-color: #f8f8fb;
}
.date-time-field {
     position: static !important;
}
.date-time-field input {
     display: block !important;
     width: 100% !important;
     padding: 0.625rem !important;
     padding-left: 2.5rem !important;
     background-color: rgb(249 250 251) !important;
     border: 1px solid rgb(209 213 219) !important;
     color: rgb(17 24 39) !important;
     font-size: 0.875rem !important;
     line-height: 1.25rem !important;
     border-radius: 0.5rem !important;
}
