@tailwind base;
@tailwind components;
@tailwind utilities;

html {
     scroll-behavior: smooth;
}
*,
*::before,
*::after {
     scrollbar-width: 0 !important;
     scrollbar-color: #ffffff;
}
::-webkit-scrollbar {
     display: none !important;
     width: 0 !important;
     background-color: #10141e;
}
::-webkit-scrollbar-thumb {
     display: none !important;
     border-radius: 0.375rem;
     background: #ffffff;
     border: 0 solid #10141e;
}
html,
body {
     overflow: hidden;
}
body {
     background-color: #f8f8fb;
}
.light-date .date-time-field {
     position: static !important;
}
.light-date .date-time-field input {
     display: block !important;
     width: 100% !important;
     padding: 0.875rem 0 !important;
     background-color: #f9fafe !important;
     padding-left: 2.5rem !important;
     border: 1px solid rgb(209 213 219) !important;
     color: rgb(17, 24, 39) !important;
     font-size: 0.9375rem !important;
     font-weight: 700 !important;
     line-height: 1.25rem !important;
     border-radius: 0.5rem !important;
}

.dark-date .date-time-field {
     position: static !important;
}
.dark-date .date-time-field input {
     display: block !important;
     width: 100% !important;
     padding: 0.875rem 0 !important;
     background-color: #1f2139 !important;
     padding-left: 2.5rem !important;
     border: 1px solid #252945 !important;
     color: rgb(255, 255, 255) !important;
     font-size: 0.9375rem !important;
     font-weight: 700 !important;
     line-height: 1.25rem !important;
     border-radius: 0.5rem !important;
}
